mqtt:
  host: {{ mosquitto_host }}
  port: 1883
  auth:
    username=SF_SERVICE_USER
    password={{ sf_service_user_password }}
watchers:
  - unit: nodepool.service
    topic: nodepool
    events:
      - name: node_create_start
        pattern: ".*Creating server with hostname ${HOSTNAME} in ${PROVIDER} from image ${IMAGE} for node id: ${NODE_ID}"
        where:
          HOSTNAME: .+
          PROVIDER: .+
          IMAGE: .+
          NODE_ID: [0-9]+
        publish: '{"STATUS": "CREATE", "HOSTNAME": "${HOSTNAME}", "IMAGE": "${IMAGE}, "PROVIDER": "${PROVIDER}", "NODE_ID": "$NODE_ID"}'
      - name: node_ready
        pattern: ".*Node id: ${NODE_ID} is ready"
        where:
          NODE_ID: [0-9]+
        publish: '{"STATUS": "READY", "NODE_ID": "$NODE_ID"}'
      - name: node_ready_orchestrator
        pattern: ".*Node id: ${NODE_ID} added to ${ORCHESTRATOR}"
        where:
          NODE_ID: [0-9]+
          ORCHESTRATOR: .+
        publish: '{"STATUS": "READY_ORCHESTRATOR", "NODE_ID": "$NODE_ID", "ORCHESTRATOR": "${ORCHESTRATOR}"}'
      - name: node_deleted
        pattern: ".*Deleted node id: ${NODE_ID}"
        where:
          NODE_ID: [0-9]+
        publish: '{"STATUS": "DELETED", "NODE_ID": "$NODE_ID"}'
      - name: node_deleted_orchestrator
        pattern: ".*Deleted ${ORCHESTRATOR} node id: ${NODE_ID}"
        where:
          NODE_ID: [0-9]+
          ORCHESTRATOR: .+
        publish: '{"STATUS": "DELETED_ORCHESTRATOR", "NODE_ID": "$NODE_ID", "ORCHESTRATOR": "${ORCHESTRATOR}"}'
