[loggers]
keys=root,nodepool{% for image in nodepool_config.diskimages %},image-{{ image.name }}{% endfor %}

[handlers]
keys=console,normal{% for image in nodepool_config.diskimages %},image-{{ image.name }}{% endfor %}

[formatters]
keys=console,normal

[logger_root]
handlers=console,normal
level={{ nodepool_root_loglevel }}

[logger_nodepool]
handlers=console,normal
propagate=0
qualname=nodepool
level={{ nodepool_loglevel }}

{% for image in nodepool_config.diskimages %}
[logger_image-{{ image.name }}]
handlers=image-{{ image.name }}
propagate=0
qualname=nodepool.image.build.{{ image.name }}
level={{ nodepool_loglevel }}

{% endfor %}

[handler_console]
level=INFO
class=StreamHandler
formatter=console
args=(sys.stdout,)

[handler_normal]
level=DEBUG
class=logging.handlers.TimedRotatingFileHandler
formatter=normal
args=('/var/log/nodepool/builder.log', 'H', 8, 30,)

{% for image in nodepool_config.diskimages %}
[handler_image-{{ image.name }}]
level=DEBUG
class=logging.handlers.TimedRotatingFileHandler
formatter=normal
args=('/var/www/nodepool-log/{{ image.name }}.log', 'H', 8, 14,)

{% endfor %}

[formatter_normal]
format=%(asctime)s %(levelname)s %(name)s: %(message)s
datefmt=

[formatter_console]
format=%(levelname)7s %(name)s: %(message)s
datefmt=
