[loggers]
keys=root,nodepool{% for provider in nodepool_config.providers %}{% for image in provider.images %}{% if image.get("base-image") %},image-{{ provider.name }}-{{ image.name }}{% endif %}{% endfor %}{% endfor %}

[handlers]
keys=console,normal{% for provider in nodepool_config.providers %}{% for image in provider.images %}{% if image.get("base-image") %},image-{{ provider.name }}-{{ image.name }}{% endif %}{% endfor %}{% endfor %}

[formatters]
keys=console,normal

[logger_root]
handlers=console,normal
level={{ nodepool_root_loglevel }}

[logger_nodepool]
handlers=console,normal
propagate=0
qualname=nodepool
level={{ nodepool_loglevel }}

{% for provider in nodepool_config.providers %}{% for image in provider.images %}{% if image.get("base-image") %}
[logger_image-{{ provider.name }}-{{ image.name }}]
handlers=image-{{ provider.name }}-{{ image.name }}
propagate=0
qualname=nodepool.image.build.{{ provider.name }}.{{ image.name }}
level={{ nodepool_loglevel }}

{% endif %}{% endfor %}{% endfor %}

[handler_console]
level=INFO
class=StreamHandler
formatter=console
args=(sys.stdout,)

[handler_normal]
level=DEBUG
class=logging.handlers.TimedRotatingFileHandler
formatter=normal
args=('/var/log/nodepool/nodepool.log', 'H', 8, 30,)

{% for provider in nodepool_config.providers %}{% for image in provider.images %}{% if image.get("base-image") %}
[handler_image-{{ provider.name }}-{{ image.name }}]
level=DEBUG
class=logging.handlers.TimedRotatingFileHandler
formatter=normal
args=('/var/www/nodepool-log/{{ provider.name }}-{{ image.name }}.log', 'H', 8, 14,)

{% endif %}{% endfor %}{% endfor %}

[formatter_normal]
format=%(asctime)s %(levelname)s %(name)s: %(message)s
datefmt=

[formatter_console]
format=%(levelname)7s %(name)s: %(message)s
datefmt=
