[Unit]
Description=Run Ochlero, the systemd-to-MQTT service
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/ochlero -c /etc/ochlero/ochlero.yaml
Restart=always

[Install]
WantedBy=multi-user.target
